.title {
    background-color: palevioletred;
    min-height: 100px;
    padding: 20px;
    text-align: center;
    color: black;
    font-size: 60px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  